/* 
    woff    ->  format('woff')
    woff2   ->  format('woff2')
    eot     ->  不写format  |  format('embedded-opentype')
    ttf     ->  format('truetype')
    otf     ->  format('truetype')
    svg     ->  format('svg') 
*/

.hello {
  font-size: 18px;
  color: #000;
  background: url("./icon.jpg");
  height: 50px;
  padding: 0 10px;
  line-height: 50px;
  margin-bottom: 10px;
}
